.hero{
    height: 100dvh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.hero1{
    background-color: rgba(172, 255, 47, 0.842);
}

.hero2{
    background-color: lightblue;
}

.hero3{
    background-color: rgba(172, 255, 47, 0.842);
}

.hero4{
    background-color: lightblue;
}

.hero5{
    background-color: rgba(172, 255, 47, 0.842);
}